torch==2.5.1
torchvision
torchaudio
wheel
setuptools
ffmpeg
numba==0.56.4
numpy==1.23.5
scipy==1.9.3
librosa==0.9.1
faiss-cpu==1.7.3
gradio==3.40.1
h11==0.14.0
httpcore==1.0.5
pyworld==0.3.2
soundfile>=0.12.1
praat-parselmouth>=0.4.2
httpx==0.23.0
tensorboard
tensorboardX
torchcrepe
onnxruntime
asyncio
demucs
edge-tts
yt_dlp
rarfile
mega.py
gdown
packaging==24.1
pydantic==2.8.2
pydantic_core==2.20.1
git+https://github.com/terastudio-org/fairseq

