pip>=23.3; sys_platform=='darwin'
wheel; sys_platform=='darwin'
PyYAML; sys_platform=='darwin'
omegaconf>=2.0.6; sys_platform=='darwin'
numba==0.57.0
numpy==1.23.5
ml_collections
tqdm
audio-separator[gpu]==0.30.1
yt_dlp
wget
ffmpeg-python>=0.2.0
faiss-cpu==1.7.3
soundfile==0.12.1
noisereduce
pedalboard
stftpitchshift
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
torchcrepe==0.0.23
torchfcpe
einops
libf0
transformers==4.44.2
pypresence
gradio
gradio_client
bs4
omegaconf
matplotlib==3.7.2
