pip>=23.3; sys_platform=='darwin'
wheel; sys_platform=='darwin'
PyYAML; sys_platform=='darwin'
omegaconf>=2.0.6; sys_platform=='darwin'
numpy>=1.25.2,<2.0.0
numba>=0.57.0
ml_collections
tqdm
audio-separator[gpu]==0.30.1
yt_dlp
wget
ffmpeg-python>=0.2.0
faiss-cpu==1.7.3
soundfile==0.12.1
noisereduce
pedalboard
stftpitchshift
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
torchcrepe==0.0.23
torchfcpe
einops
libf0
transformers==4.44.2
pypresence
gradio
gradio_client
bs4
omegaconf
matplotlib==3.7.2
swift_f0
certifi>=2023.07.22; sys_platform == 'darwin'
antlr4-python3-runtime==4.8; sys_platform == 'darwin'
tensorboardX
edge-tts==7.2.0
pypresence
beautifulsoup4
sounddevice
webrtcvad
