gradio>=4.0.0
torch>=2.0.0
torchaudio>=2.0.0
numpy>=1.21.0
librosa>=0.9.0
soundfile>=0.10.0
pydub>=0.25.0
pedalboard>=0.6.0
audio-separator[gpu]>=0.10.0
setuptools>=61.0
wheel
praat-parselmouth
matplotlib>=3.7.2
faiss-cpu==1.7.3; python_version < "3.12"
faiss-cpu>=1.7.3; python_version >= "3.12"
noisereduce
transformers==4.44.2
stftpitchshift
wget
tensorboard
beautifulsoup4
edge-tts==7.2.0