# Files to keep ==========================
!assets/audios/.gitkeep
!assets/datasets/.gitkeep
!assets/audios/audio-others/.gitkeep
!logs/.gitkeep
!logs/mute/
!logs/mute_spin_v1/
!logs/mute_spin_v2/
!logs/reference/
!logs/reference/**
!logs/run_tensorboard_in_model_folder.bat
!rvc/models/pretraineds/.gitkeep
!rvc/models/pretraineds/hifi-gan/.gitkeep
!rvc/models/pretraineds/custom/.gitkeep
# Files to be ignored  ==========================
env/
utmos/
rollback_cache/
ffprobe.exe
ffmpeg.exe
assets/audios/
assets/datasets/
assets/audios/audio-others/
logs/
rvc/models/pretraineds/
rvc/models/predictors/fcpe.pt
rvc/models/predictors/fcpe_ddsp.pt
rvc/models/predictors/rmvpe.pt
rvc/models/embedders/spin_v1/pytorch_model.bin
rvc/models/embedders/spin_v2/pytorch_model.bin
rvc/models/embedders/contentvec/pytorch_model.bin
rvc/models/embedders/spin_v1/config.json
rvc/models/embedders/spin_v2/config.json
rvc/models/embedders/contentvec/config.json

rvc/infer/pipeline - debug_ver.py
rvc/lib/utils - debug.py
rvc/lib/algorithm/generators/Vocoder_Experiments
rvc/train/preprocess/preprocess - backup.py
rvc/train/preprocess/preprocess_old - backup.py
debug/
DEV/
*.pyc
rvc/train/utils - Copy.py
EXTRAS/transfer.py
rvc/configs/config - backup.py
rvc/train/preprocess/preprocess - LUFS WITHOUT SAFETY.py
EXTRAS/uvmp_extractor.py
rvc/train/train_debug.py
rvc/train/train - Copy fail bench.py
rvc/train/train_optuna.py
rvc/lib/algorithm/generators/hifigan_prior.py
DRC.txt
